<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home</title>
<style type="text/css">
.card{
    margin:10px;
    {% comment %} flex-direction:row;
    width:300px;
    height:80px;
    border:1px red solid; {% endcomment %}
    padding:2px; 
}
</style>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">LitShop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if user.is_authenticated%}
          <li class="nav-item {% block login_navbar %} {% endblock %}">
            <a class="nav-link" href="{% url 'account'%}" >welcome {{user.first_name}}</a> 
          </li>
          <li class="nav-item ">
          <a class="nav-item nav-link active" href="{% url 'order' user.username%}">Orders <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="{% url 'nfts' %}">Your warrant nfts <span class="sr-only">(current)</span></a>
          <form method="post" action="{% url 'logoutuser' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark btn-sm">Log out</button>
          </form>
          </li>
          
          {% else %}
          <li class="nav-item ">
            <a class="nav-link" href="login">login</a> 
          </li>
          <a class="nav-item nav-link" href="#">Features</a>
          {% comment %} <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> {% endcomment %}
          {% endif %}
        </div>
      </div>
    </nav>
{% for i in wad %}
{% if i.wa == "None" %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Hey User!</strong> You are not submited your wallet adress please fill this form to purchase warranty items
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endfor %}

    <h1 class="text-center"> {{product.title}} </h1>
    <div class="container">
        <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card" style="border-radius: 15px;">
                <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <img src="{{product.img}}"
                    style="border-top-left-radius: 15px; border-top-right-radius: 15px;" class="img-fluid"
                    alt="Laptop" />
                    <a href="#!">
                    <div class="mask"></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                    <div>
                        <p><a href="#!" class="text-dark">{{product.title}}</a></p>
                        <p class="small text-muted">product with {{product.warranty_in_months}} months warranty </p>
                    </div>
                    <div>
                        <div class="d-flex flex-row justify-content-end mt-1 mb-4 text-danger">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        </div>
                        <p class="small text-muted">Rated 4.0/5</p>
                    </div>
                    </div>
                </div>
                <hr class="my-0" />
                <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                    <p><a href="#!" class="text-dark">₹{{product.price}}</a></p>
                    <p class="text-dark"></p>
                    </div>
                    <p class="small text-muted">{{product.desc|slice:'25'}}</p>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
                    <a href="#!" class="text-dark fw-bold"></a>
                    <form action="" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                    <button class="btn btn-primary" type="submit" >Buy now</button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>